# Ignore data files
cleaned_mlb_speed.csv
*.xlsx
*.csv

# Ignore outputs
*.png
desc_stats_output.txt

# Ignore system files
.DS_Store
Thumbs.db

# Ignore report if not allowed
Task_05_report.pdf

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VSCode settings
.vscode/
